/* Logo image at the top */
@media (prefers-reduced-motion: no-preference) {
  .App-logo-small {
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0px;
  }
}

.Home-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.Pfp {
  width: 50px;
  height: auto;
  /* border-radius: 50%; */
  margin-right: 10px;
}

.UserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #396989;
  display: flex;
  align-items: center;
}

.UserDetails {
  display: flex;
  align-items: center;
}

.BusinessContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  color: #396989;
}

.BusinessDetails {
  display: flex;
  align-items: center;
}


.DisplayUserName {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 23px;
}

.MapIconContainer {
  margin-left: auto;
}

.MapIcon {
  width: 30px;
  height: 30px;
}

/* .Search-Container {
  position: relative;
  margin-top: 30px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
} */

.SearchBar {
  margin-top: 0px;
  width: 100%;
  border: 2px solid #5cb1e7;
  height: 35px;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 4px rgb(0, 0, 0, 25%));
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
}

.Restaurant-ScrollContainer {
  margin-top: 20px;
  overflow-y: auto;
  height: 570px;
  display: flex;
  justify-content: center;
}

.Restaurant-ScrollContainer2 {
  margin-top: 20px;
  overflow-y: auto;
  height: 630px;
  display: flex;
  justify-content: center;
}

.Restaurant-Container {
  display: flex;
  flex-direction: column;
}

.Restaurant1 {
  position: relative;
  margin-bottom: 20px;
  width: 374px;
  height: 182px;
}


.Restaurant2 {
  position: relative;
  margin-bottom: 20px;
  width: 374px;
  height: 182px;
  margin-top: 20px;
}


.Restaurant1 img {
  border: 4px solid #5cb1e7;
  border-bottom-width: 20px;
  border-radius: 17px;
  width: 365px;
  height: 133px;
  align-items: center;
  display: flex;
}

.main-img {
  border: 4px solid #5cb1e7;
  border-bottom-width: 20px;
  border-radius: 17px;
  width: 98%;
  height: auto;
}

.Restaurant1::before {
  content: attr(data-distance);
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  color: #5cb1e7;
}

.Restaurant1::after {
  content: attr(data-name);
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5cb1e7;
  border: 2px solid #5cb1e7;
  font-size: 12px;
  color: #ffffff;
  z-index: 1;
}

.Restaurant2::before {
  content: attr(data-distance);
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  color: #5cb1e7;
}

.Restaurant2::after {
  content: attr(data-name);
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5cb1e7;
  border: 2px solid #5cb1e7;
  font-size: 12px;
  color: #ffffff;
  z-index: 1;
}


.Restaurant-main-img:hover {
  transform: scale(1.009);
}

.Restaurant1:hover {
  transform: scale(1.009);
}


.EditButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
}

.EditButton:hover {
  transform: scale(1.3);
}

.price-input {
  width: 349px;
  height: 45px;
  top: 271px;
  left: 36px;
  border-radius: 19px;
  border: 3px;
  margin-top: 7px;
  background: #FDFDFD;
  border: 3px solid #4195CC;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Rubik;
  font-size: 15px;
}

.name-input {
  width: 349px;
  height: 45px;
  top: 271px;
  left: 36px;
  border-radius: 19px;
  border: 3px;
  margin-top: 7px;
  background: #FDFDFD;
  border: 3px solid #4195CC;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Rubik;
  font-size: 15px;
  margin-right: 10px;
}


.description-label {
  color: rgba(92, 177, 231, 1);
}


.description-input {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  cursor: default;
  outline-width: 0;
  width: 349px;
  height: 40px;
  outline-width: 0;
  font-size: 15px;
  color: #000000;
  resize: vertical;
  max-width: 349px;
  overflow: scroll;
  max-height: 125px;
  min-height: 30px;
  flex-grow: 1;
  margin: auto;
  border: 3px solid #4195CC;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Rubik;
}

.business_edit_button3 button {
  width: 169.5px;
  height: 50px;
  border-radius: 19px;
  border: 3px solid #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.save_changes3 {
  background-color: #5CB1E7;
  margin-left: 15px;
  margin-right: 10px;
  font-family: Rubik;
}

.log_out3 {
  background-color: #E35959;
  font-family: Rubik;
}

.upload-img {
  display: none;
}

.file-upload-btn {
  background-color: #5CB1E7; 
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  padding: 10px 20px;
  border-radius: 19px;
  cursor: pointer;
  font-family: Rubik;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.business_buttons1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px 10px 20px;
}

.business_buttons1 button{
  width: 349px;
  height: 62px;
  border-radius: 19px;
  margin: 0px -5px;
  border: 3px solid #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}


@media screen and (min-width: 1280px) {
  .description-label {
    color: rgba(92, 177, 231, 1);
    font-size: 30px;
  }

  .price-label {
    color: rgba(92, 177, 231, 1);
    font-size: 30px;
    margin-left: -2px;
    
  }
  .business_edit_button3 button {
    width: 200px;
    height: 100px;
    border-radius: 19px;
    border: 3px solid #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
  }
  
  .save_changes3 {
    background-color: #5CB1E7;
    margin-left: 25px;
    margin-right: 10px;
    font-family: Rubik;
  }
  
  .log_out3 {
    background-color: #E35959;
    font-family: Rubik;
    margin-top: 10px;
  }

  .description-input {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    cursor: default;
    outline-width: 0;
    width: 449px;
    height: 40px;
    outline-width: 0;
    font-size: 25px;
    color: #000000;
    resize: vertical;
    max-width: 449px;
    overflow: scroll;
    max-height: 125px;
    min-height: 30px;
    flex-grow: 1;
    margin: auto;
    border: 3px solid #4195CC;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Rubik;
  }

  .price-input {
    width: 449px;
    height: 45px;
    top: 271px;
    left: 36px;
    border-radius: 19px;
    border: 3px;
    margin-top: 7px;
    background: #FDFDFD;
    border: 3px solid #4195CC;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Rubik;
    font-size: 25px;
  }
  
  .name-input {
    width: 449px;
    height: 45px;
    top: 271px;
    left: 36px;
    border-radius: 19px;
    border: 3px;
    margin-top: 7px;
    background: #FDFDFD;
    border: 3px solid #4195CC;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Rubik;
    font-size: 25px;
  }

  .food-stuff2 {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }
  
  .upload-img {
    display: none;
  }
  
  .file-upload-btn {
    background-color: #5CB1E7; 
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 10px 20px;
    border-radius: 19px;
    cursor: pointer;
    font-family: Rubik;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }

  .business_buttons1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px 10px 20px;
  }
  
  .business_buttons1 button{
    width: 449px;
    height: 62px;
    border-radius: 19px;
    margin: 0px -10px;
    border: 3px solid #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
}

