.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    cursor: pointer; 
    transition: transform 0.2s;
}

.sign-up-button{
    cursor: pointer; 
    transition: transform 0.2s;
}

.sign-up-button:hover {
    transform: scale(1.03);
  }

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        width: 279px;
        height: 269px;
        top: 260px;
        left: 75px;
        margin-bottom: 80px;
    }
}
.App-logo3 {
    margin-bottom: 0px;
    width: 110px;
}

.App-logos:hover {
    transform: scale(1.1);
  }

.Welcomepage button {
    width: 319px;
    height: 78px;
    top: 670px;
    left: 55px;
    background: #4195CC;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    border-radius: 22px;
    border: none;
}

.Welcomepage {
    background-color: #FFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Welcomepage h1 {
    font-family: "Rubik", sans-serif;
    color: #4195CC;
    font-weight: 600;
    font-size: 30px;
    line-height: 41.48px;
    margin-bottom: 3px;
}

.Welcomepage p {
    font-family: "Rubik", sans-serif;
    color: #396989;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.78px;
    margin-top: 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.signup_desc{
    display: none;
}

.page2_signup h1 {
    height: 41px;
    top: 98px;
    left: 56px;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #4195CC;
    margin-top: 46px;
}
.page5_signin h1 {
    margin-top: 130px;
    font-size: 40px;
}

.page2_buttons {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.page2_personal p {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 3px;
    color: #396989;
    height: 18px;
    top: 213px;
    left: 110px;
}

.page2_business {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #396989;
    height: 18px;
    top: 213px;
    left: 110px;
}
.page2_business p {
    margin-top: 3px;
}

.businessname input[type="password"] {
    width: 349px;
    height: 45px;
    top: 271px;
    left: 36px;
    border-radius: 19px;
    border: 3px;
    margin-top: 7px;
    background: #FDFDFD;
    border: 3px solid #4195CC;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.page2_inputfields {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.page2_inputfields .businessname .phonenumber .businessemail .password .businessaddress {
    width: 349px;
    height: 69px;
    top: 261px;
    left: 36px;
}

.businessname label {
    width: 140px;
    height: 18px;
    top: 264px;
    left: 86px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color:#396989 ; 
}

.businessname input[type="text"] {
    width: 349px;
    height: 45px;
    top: 271px;
    left: 36px;
    border-radius: 19px;
    border: 3px;
    margin-top: 7px;
    background: #FDFDFD;
    border: 3px solid #4195CC;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.businessname select {
    width: 358px;
    height: 68px;
    top: 271px;
    left: 36px;
    border-radius: 19px;
    border: 3px;
    background: #FDFDFD;
    border: 3px solid #4195CC;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.page2_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2_signup button {
    width: 353px;
    height: 59px;
    border-radius: 19px;
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #5CB1E7;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
}

.page2_account {
    width: 240px;
    height: 19px;
    top: 853px;
    left: 94px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.page2_account p {
    font-size: 15px;
}

/* CSS for desktop view Sign In */
@media (min-width: 768px) {

    .dkpage2 {
        width: 682px;
        height: 601px;
        border-radius: 30px;
        background: rgba(94, 89, 89, 0.182);

        display: block;
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto;
    }

    .page2_signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }

  /* CSS for desktop view Sign Up */
@media (min-width: 768px) {

    .split-screen {
        display: flex;
        height: 950px;
        flex: 1; /* Make the right side take up half of the available space */
        background: linear-gradient(to right, #3BA6EA, #3BA6EA 50%, white 50%, white); /* Adjust colors as needed */
      }

      .signup_desc{
        display: block;
        width: 562px;
        padding: 30px;

        color: white;
        font-size: 20px;
        font-style: normal;
    }

    .signup_desc h2{
        font-weight: 400;
    }  

    .dkpage3 {
        width: 682px;
        display: block;
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        margin-left: auto;
    }

    .page2_signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .businessname input {
        display: flex;
    }
  }
  

.verify_logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.App-circle,
.App-line {
    position: absolute;
}

.App-line {
    z-index: 1;
}

.verify_title {
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #4195CC;
    text-align: center;
    white-space: nowrap;
}

.verify_title h1 {
    margin-bottom: 0;
}

.verify_description {
    font-family: "Rubik", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #396989;
}

.verify_description p {
    margin-bottom: 0;
    margin-top: 5px;
}

.verify_information {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 39px;
}

.mini_logo{
    width: 49px;
    height: 49px;
    position: absolute;
    top: 29px;
}

.small_logo h1{
    position: absolute;
    top: 78px;
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
}

.subheading{
    display: flex;
    flex-direction: row;
}

.profile_pic{
    width: 67.92px;
    height: 67.92px;;
    position: absolute;
    top: 118px;
    left: 50px;
}


.subheading p{
    position: absolute;
    top: 143px;
    left: 138px;
    color: #396989;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.center_bar {
    display: flex;
    justify-content: center;
}

.search_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 211px;
    border: 1px solid #5CB1E7;
    border-radius: 10px;
    width: 335px;
    height: 39px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search_bar input{
    border: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 270px;
    height: 25px;
}

.search_icon{
    width: 27px;
    height: 25px;
    padding: 10px;
}

.chat_list{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 283px;
    margin-top: 10px;
}

.chat{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.sender_pfp {
    width: 67.92px;
    height: 67.92px;
    margin-right: 14px;
    margin-bottom: 24px;
    margin-left: 50px;
}

.chat p{
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.sender_name{
    font-weight: 600;
    font-size: 15px;
}

.sender_msg, .date, .date_alt{
    font-weight: 400;
    font-size: 13px;
    padding-top: 10px;;
}

.date_alt {
width: max-content;
padding-right: 20px;
}

.name_content{
    padding-right: 15px;
}

.bottom_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: -1px;
    left: 0px;
    background-color: #FFFFFF;
    margin: 0px;
}

.bottom_nav img{
    margin: 19px 40px;
}

.display_pic{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 110px;
}

.profile_pic_large{
    width: 120px;
    height: 120px;
}


  

.user_field_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 233px;
    margin-top: 10px;
}

.user_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 9px;
}

.user_field_list input{
    border: none;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 319px;
    height: 40px;
}

.field_box{
    border: 3px solid #4195CC;
    border-radius: 19px;
    width: 349px;
    height: 45px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bus_links{
    height: 137px;
}

.user_field label{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #396989;
    margin-bottom: 7px;
}


.user_profile_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 105px;
}

.user_profile_buttons button{
    width: 169.5px;
    height: 50px;
    border-radius: 19px;
    margin: 0px 5px;
    border: 3px solid #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.save_changes, .pause_bus{
    background-color: #5CB1E7;
}

.log_out, .delete_bus{
    background-color: #E35959;
}

.business_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px 10px 20px;
}

.business_buttons button{
    width: 349px;
    height: 62px;
    border-radius: 19px;
    margin: 0px 10px;
    border: 3px solid #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}



.business_edit_button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.business_edit_button2 button{
    width: 169.5px;
    height: 50px;
    border-radius: 19px;
    margin: 0px 5px 0px 5px;
    border: 3px solid #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.save_changes2{
    background-color: #5CB1E7;
}

.log_out2{
    background-color: #E35959;
}

.business_edit_button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-description {
    color:#396989;
    font-size: 17px;
}

.forgot-password {
    margin-left: 102px;
    color: #396989;
}

.welcome-screen {
    width: 319px;
    height: 58px;
    flex: auto;
    background: #4195CC;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    border-radius: 22px;
    border: 3px solid white;
    margin: 600px auto 0; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.welcome-screen:hover {
    transform: scale(1.03);
  }

.nosign-in{
    margin-top: 200px;
    padding-top: 200px;
  }

.add-to-cart:hover{
    transform: scale(1.03);
}

.view-cart:hover{
    transform: scale(1.03);
}

.food-items1:hover{
    transform: scale(1.09);
}

.food-stuff img {
    padding-top: 30px;
    width: 310px;
}

.save_status_message {
    color: #4CAF50; /* Green color for successful messages */
    font-size: 16px;
    margin-top: 10px; /* Space above the message */
    text-align: center; /* Center align the message */
  }