.new_msg_header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    flex-wrap: nowrap;
}

.back_button button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.back_button  {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.business_name {
    position: relative; 
    text-align: center;
    margin-left: 50px;
    width: auto; 
    flex-grow: 1; 
}


.business_name h1 {
    margin: 0 auto; 
    font-size: 1.5em;
    font-weight: bold;
}

.business-pfp img {
    width: 45px;
    height: 45px;
    margin-top: 30px;
    margin-right: 20px;
}

.chat_area{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    width: 330px;
    background-color: #D9EDFF;
    margin-left: 30px;
    height: 550px;
    scroll-behavior: smooth; 
}

.type_message {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 5px; 
    width: 318px;
    background-color: #59AFE7;
    margin-left: 30px;
    border: 1px solid #5CB1E7;
    border-radius: 6px;
    min-height: 47px; 
}

.type_message_input{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    cursor:default;
    outline-width: 0; 
    width: 260px;
    height: 40px;
    outline-width: 0;
    font-size: 15px;
    color: #646464;
    resize:vertical; 
    max-width: 300px; 
    overflow:scroll;
    max-height: 125px;
    min-height: 30px;
    flex-grow: 1; 
    margin-right: 10px; 
}

.description-item{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    cursor:default;
    outline-width: 0; 
    width: 260px;
    height: 40px;
    outline-width: 0;
    font-size: 15px;
    color: #646464;
    resize:vertical; 
    max-width: 300px; 
    overflow:scroll;
    max-height: 125px;
    min-height: 30px;
    flex-grow: 1; 
    margin: auto;
}



.send_message {
    background: transparent; 
    border: none; 
    cursor: pointer;
    padding: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.send_message img {
    width: 35px; 
}

h2{
    font-size: 22px;
}

.fa-svg-icon {
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;
}

