.HomepageMainCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant img {
  border: 4px solid #5cb1e7;
  border-radius: 17px;
  width: 360px; 
  height: auto;
}

@media (min-width: 769px) {
  .restaurant img {
    width: 410px; 
  } 
}

.restaurant-name {
  margin-top: 4px;
  font-size: 20px;
  color: #5cb1e7;
  margin-bottom: -10px;
}

.scrollable-containerr {
  overflow-y: auto;
  width: 100%;
  max-height: 470px; 
  display: flex;
  flex-direction: column;
}

.scrollable-containerr2 {
  overflow-y: auto;
  width: 100%;
  max-height: 470px; 
  display: flex;
  flex-direction: column;
}


.food-items {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.food-items p {
  position: absolute;
    bottom: 0;
    right: 26px;
}

.food-items img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 5px;
  border: solid 1px #d9d9d9;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  border-bottom-width: 27px;
}

.view-cart-btn {
  position: sticky;
  bottom: 0px; /* Adjust as needed */
  z-index: 2; /* Ensure it stays in front of other content */
  width: 297px;
  height: 43.7px;
  margin: 0 auto; /* Center the button horizontally */
  padding: 10px;
  background-color: #5cb1e7;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Increase shadow */
}
