.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 279px;
    height: 269px;
    top: 260px;
    left: 75px;
    margin-bottom: 80px;

  }
}

.App-header button {
  width: 319px;
  height: 78px;
  top: 670px;
  left: 55px;
  background: #4195CC;
  color: white;
  font-family: Rubik;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  border-radius: 22px;
  border: none;
  font-family: "Rubik", sans-serif;
}

.App-header {
  background-color: #FFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-family: "Rubik", sans-serif;
  color: #4195CC;
  font-weight: 600;
  font-size: 35px;
  line-height: 41.48px;
  margin-bottom: 3px;
}

.App-header p {
  font-family: "Rubik", sans-serif;

  color: #396989;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.78px;
  margin-top: 0;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
